.card-hover-color {
    &:hover{
        box-shadow: 0px 8px 19px rgba(181, 201, 255, 0.6) !important;
    }
    .add-user-image{
        margin-top: 50px;
    }
    .select-user-image{
        padding: 11px 11px;
    }
}

@media only screen and (max-width:700px) and (min-width:280px) {
    .select-user-types{ padding: 0 0 0 0 !important  }
}
.cancel-button-gas-app{
    border:1px solid #D1372D;
    color:#D1372D
}
.ant-tabs-nav-list {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
  }
  .ant-tabs-tab {
    width: 50% !important;
    justify-content: center !important;
  }
.ant-tabs-nav{
    width: 100% !important;
    background-color: #D1372D !important;;
}  
.ant-tabs-nav-wrap{
display: flex !important;
justify-content: center !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    background-color: #FFFFFF !important;
    padding: 0px 100px !important;
    color:#D1372D !important;
    border: 1px solid #FFFFFF !important ;
    width: 280px !important;
    height: 27px !important;

    
}
// .ant-tabs-tab{
//     margin-right: 360px !important;
// }